/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

html, body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 95vw;
  gap: 10px;
  padding: 10px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.input-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.input-textarea {
  flex: 1;
  resize: none;
  background-color: #2e2e2e;
  color: #ffffff;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px;
}

.output-textarea {
  flex: 1;
  resize: none;
  background-color: #000000;
  color: lime;
  font-family: monospace;
  cursor: default;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px;
}

.submit-button {
  padding: 10px;
  cursor: pointer;
  background-color: #333;
  color: #ffffff;
  border: 1px solid #555;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button:hover {
  background-color: #fcfbfb;
  color: #000000;
}

.heading {
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 0%;
  text-align: center;
}

.copyright {
  font-family: 'Arial', sans-serif;
  font-size: 0.9rem;
  color: #888888;
  text-align: center;
  margin-top: 20px;
}

.heading span.large {
  font-size: 2.5rem;
}

.heading span.small {
  font-size: 1.2rem;
}

.copyright span.large {
  font-family: 'Pacifico', cursive;
  font-size: 0.75rem;
}

.copyright span.small {
  font-family: 'Pacifico', cursive;
  font-size: 0.50rem;
}

::-webkit-scrollbar {
  display: none;
}
